<!-- <p>resetpassword works!</p> -->
<div class="resetpassword">
    <div class="resetcontainer">
    <form [formGroup]="resetpage" (ngSubmit)="onsubmit()" class="border"> 
      <span class="Fclass"><b>F</b></span>
      <span class="uclass"><b>u</b></span>
      <span class="nclass"><b>n</b></span>
      <span class="dclass"><b>d</b></span>
      <span class="Oclass"><b>o</b></span>
      <span class="oclass"><b>o</b></span>
    
      <div class="resetclass">Reset</div>
      <div class="suggestion">Enter New Password</div>
      <mat-form-field class="inputclass" appearance="outline">
        <mat-label>New Password</mat-label>
        <input matInput placeholder="old Password" formControlName="oldpassword" />
        <mat-error >  Enter New Password</mat-error>
      </mat-form-field>
      <div class="suggestion">Enter Conform Password</div>
      <mat-form-field class="inputclass" appearance="outline">
        <mat-label>Conform Password</mat-label>
        <input matInput placeholder="new Password"  formControlName="newpassword"/>
        <mat-error >  Enter Conform Password</mat-error>
      </mat-form-field>
      <button  class="nextclass" >Next</button>
    </form>
   </div>

</div>