.icons{
    display: flex;
    gap: 4px;
 }
 .moreicons{
    height: 15px;
    width: 15px;
    padding-top: 6px;
 }
 .notesbutton{
    border: none;
    background: none;
    cursor: pointer;
 }
 .pop {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   background-color: white;
   max-width: 170px;
   margin-left: 5px;
 }
 .colorButton {
   margin-right: 1px;
   white-space: 2px;
 }

 .colorIcon{
   border-radius: 100px;
   height: 25px;
   width: 25px;
   cursor: pointer;
}

::ng-deep{
.mat-menu-content:not(:empty){
   display: flex;
   gap: 10px;
   margin-top: 12px;
}
.mat-menu-panel{
   max-width: 500px;
   overflow: none;
   padding: 0px 10px;
   border: 1px transparent lightcyan;
}
// .matMenu{
//    display: flex !important;
//    flex-direction: column !important;

// }
}