.card {
     
    margin-bottom: 8px;
    display: table-row;
    margin-left: 300px;
  }
 .notesContainer{
   padding: 10px;
   border: 1px lightgray ;
   margin: 10px;
   width: 180px;
   height: 90px;
 }