
<div *ngFor="let notes of trashlist" class="card">
    <mat-card class="example-card" class="notesContainer">
        <mat-card-title>{{notes.title}}</mat-card-title>
        <mat-card-content>
            <p>{{notes.description}}</p>

        </mat-card-content>

        <div>
            <button class="notesbutton">
                 <img class="moreicons" src="../../../assets/delete_forever.svg">
                 <img class="moreicons" (click)="restore(notes)" src="../../../assets/restore.svg">
            </button>
         </div>

    </mat-card>
</div>