<!--- <p>forgetpassword works!</p> -->

<div class="forgetpassword">
    <div class="SigninContainer">
        <form [formGroup]="forgotpage" (ngSubmit)="onsubmit()" class="border"> 
            <span class="Fclass"><b>F</b></span>
            <span class="uclass"><b>u</b></span>
            <span class="nclass"><b>n</b></span>
            <span class="dclass"><b>d</b></span>
            <span class="Oclass"><b>o</b></span>
            <span class="oclass"><b>o</b></span>
          
      
          <div class="findmailclass">Find your email</div>
          <div class="description">Enter your phone number or recovery email</div>
      
          <mat-form-field class="inputclass" appearance="outline">
            <mat-label>Phone number or email</mat-label>
            <input matInput placeholder="Phone number or email" formControlName="email" />
            <mat-error >  Enter Phone number or email </mat-error>
          </mat-form-field>
          <div class="buttonclass">
          <button  class="resetclass">Next </button>
          </div>
        </form>    
    </div>
</div>
