.card {
     
    margin-bottom: 8px;
    display: table-row;
    margin-left: 400px !important;
  }
 .notesContainer{
   padding: 10px;
   border: 1px lightgray ;
   margin-left: 30px;
   margin-top: 30px;
   width: 180px;
   height: 120px;
   // background-color:lemonchiffon;
 }
 .icons{
   display: flex;
   gap: 4px;
}
.moreicons{
   height: 15px;
   width: 15px;
   padding-top: 6px;
}
.notesbutton{
   border: none;
   background: none;
   cursor: pointer;
}
.dialogue{
   visibility: hidden;
   margin-top: 10px;
   margin-bottom: -30px;
   margin-right: 30px;
}