<!-- <p>display-card works!</p> -->
<div *ngFor= "let notes of notesList" class="card">
    <mat-card class="example-card" class="notesContainer" [style.background] = "notes.colour">
      <mat-card-title (click)=action(notes)>{{notes.title}}</mat-card-title>
      <mat-card-content>
        <div (click)=action(notes) style="min-height: 35px; display: block; overflow-wrap: break-word;">{{notes.description}} </div>

        
      </mat-card-content>
      
      <div>
       <app-icons [notesObject] = "notes" (autorefresh)="receivedAutoRefresh($event)"></app-icons>
    </div>
    <mat-card-actions>
     
      </mat-card-actions>
    </mat-card>
</div>