<!-- <p>display-card works!</p> -->
<div *ngFor= "let notes of notesList" class="card">
    <mat-card class="example-card" class="notesContainer">
      <mat-card-title (click)=action(notes)>{{notes.title}}</mat-card-title>
      <mat-card-content>
        <p (click)=action(notes)>{{notes.description}}</p>

        
      </mat-card-content>
      
      <div>
       <app-icons [notesObject] = "notes"></app-icons>
    </div>
    <mat-card-actions>
     
      </mat-card-actions>
    </mat-card>
</div>